<div>
  <h2 id="page-heading" data-cy="UserOptionHeading">
    <span abfTranslate="hcAdminApp.platformUserOption.home.title">User Options</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span abfTranslate="hcAdminApp.platformUserOption.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-option"
        [routerLink]="['/user-option/new']"
      >
        <fa-icon icon="plus" />
        <span abfTranslate="hcAdminApp.platformUserOption.home.createLabel">Create a new User Option</span>
      </button>
    </div>
  </h2>

  <abf-alert-error />

  <abf-alert />

  @if (userOptions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span abfTranslate="hcAdminApp.platformUserOption.home.notFound">No User Options found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr abfSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" abfSortBy="id">
              <div class="d-flex">
                <span abfTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="category">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformUserOption.category">Category</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="userRef">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformUserOption.userRef">User Ref</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="metadata">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformUserOption.metadata">Metadata</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (userOption of userOptions(); track trackId(userOption)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/user-option', userOption.id, 'view']">{{ userOption.id }}</a>
              </td>
              <td>{{ userOption.category }}</td>
              <td>{{ userOption.userRef }}</td>
              <td>{{ userOption.metadata }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/user-option', userOption.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/user-option', userOption.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(userOption)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
