<div>
  <h2 id="page-heading" data-cy="TeamHeading">
    <span abfTranslate="hcAdminApp.platformTeam.home.title">Teams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span abfTranslate="hcAdminApp.platformTeam.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team"
        [routerLink]="['/team/new']"
      >
        <fa-icon icon="plus" />
        <span abfTranslate="hcAdminApp.platformTeam.home.createLabel">Create a new Team</span>
      </button>
    </div>
  </h2>

  <abf-alert-error />

  <abf-alert />

  @if (teams().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span abfTranslate="hcAdminApp.platformTeam.home.notFound">No Teams found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr abfSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" abfSortBy="id">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformTeam.id">Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="name">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformTeam.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="description">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformTeam.description">Description</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="supervisor.licenceNumber">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformTeam.supervisor">Supervisor</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (team of teams(); track trackId(team)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/team', team.id, 'view']">{{ team.id }}</a>
              </td>
              <td>{{ team.name }}</td>
              <td>{{ team.description }}</td>
              <td>
                @if (team.supervisor) {
                  <div>
                    <a [routerLink]="['/professional', team.supervisor.id, 'view']">{{ team.supervisor.licenceNumber }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/team', team.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(team)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
