<div>
  <h2 id="page-heading" data-cy="DocumentHeading">
    <span abfTranslate="hcAdminApp.platformDocument.home.title">Documents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span abfTranslate="hcAdminApp.platformDocument.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document"
        [routerLink]="['/document/new']"
      >
        <fa-icon icon="plus" />
        <span abfTranslate="hcAdminApp.platformDocument.home.createLabel">Create a new Document</span>
      </button>
    </div>
  </h2>

  <abf-alert-error />

  <abf-alert />

  @if (documents().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span abfTranslate="hcAdminApp.platformDocument.home.notFound">No Documents found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr abfSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" abfSortBy="id">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformDocument.id">Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="name">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformDocument.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="description">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformDocument.description">Description</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="url">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformDocument.url">Url</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="uploadedAt">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformDocument.uploadedAt">Uploaded At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="patient.id">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformDocument.patient">Patient</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="vendor.id">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformDocument.vendor">Vendor</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (document of documents(); track trackId(document)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/document', document.id, 'view']">{{ document.id }}</a>
              </td>
              <td>{{ document.name }}</td>
              <td>{{ document.description }}</td>
              <td>{{ document.url }}</td>
              <td>{{ document.uploadedAt | formatMediumDatetime }}</td>
              <td>
                @if (document.patient) {
                  <div>
                    <a [routerLink]="['/patient', document.patient.id, 'view']">{{ document.patient.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (document.vendor) {
                  <div>
                    <a [routerLink]="['/vendor', document.vendor.id, 'view']">{{ document.vendor.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/document', document.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/document', document.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(document)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (documents().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <abf-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
