<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profile(); as profileRef) {
      <div>
        <h2 data-cy="profileDetailsHeading"><span abfTranslate="hcAdminApp.directoryProfile.detail.title">Profile</span></h2>

        <hr />

        <abf-alert-error />

        <abf-alert />

        <dl class="row-md jh-entity-details">
          <dt><span abfTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ profileRef.id }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.title">Title</span></dt>
          <dd>
            <span [abfTranslate]="'hcAdminApp.Title.' + (profileRef.title ?? 'null')">{{
              { null: '', MR: 'MR', MRS: 'MRS', MS: 'MS', DR: 'DR', PROF: 'PROF' }[profileRef.title ?? 'null']
            }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.firstName">First Name</span></dt>
          <dd>
            <span>{{ profileRef.firstName }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.middleName">Middle Name</span></dt>
          <dd>
            <span>{{ profileRef.middleName }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.lastName">Last Name</span></dt>
          <dd>
            <span>{{ profileRef.lastName }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.dateOfBirth">Date Of Birth</span></dt>
          <dd>
            <span>{{ profileRef.dateOfBirth | formatMediumDate }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.sex">Sex</span></dt>
          <dd>
            <span [abfTranslate]="'hcAdminApp.Sex.' + (profileRef.sex ?? 'null')">{{
              { null: '', MALE: 'MALE', FEMALE: 'FEMALE' }[profileRef.sex ?? 'null']
            }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.mobilePhone">Mobile Phone</span></dt>
          <dd>
            <span>{{ profileRef.mobilePhone }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.email">Email</span></dt>
          <dd>
            <span>{{ profileRef.email }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.idType">Id Type</span></dt>
          <dd>
            <span [abfTranslate]="'hcAdminApp.IdType.' + (profileRef.idType ?? 'null')">{{
              { null: '', GHANA_CARD: 'GHANA_CARD', PASSPORT: 'PASSPORT', VOTER_ID: 'VOTER_ID', DRIVERS_LICENCE: 'DRIVERS_LICENCE' }[
                profileRef.idType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.idNumber">Id Number</span></dt>
          <dd>
            <span>{{ profileRef.idNumber }}</span>
          </dd>
          <dt><span abfTranslate="hcAdminApp.directoryProfile.address">Address</span></dt>
          <dd>
            @if (profile()!.address) {
              <div>
                <a [routerLink]="['/address', profile()!.address?.id, 'view']">{{ profileRef.address?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span abfTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/profile', profileRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span abfTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
