<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title" abfTranslate="global.title">HcAdmin</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isNavbarCollapsed.update(isNavbarCollapsed => !isNavbarCollapsed)"
    >
      <fa-icon icon="bars" />
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home" />
              <span abfTranslate="global.menu.home">Home</span>
            </span>
          </a>
        </li>
        @if (account() !== null) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            data-cy="entity"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
              <span>
                <fa-icon icon="th-list" />
                <span abfTranslate="global.menu.entities.main">Entities</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/address"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.directoryAddress">Address</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/profile"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.directoryProfile">Profile</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/organisation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformOrganisation">Organisation</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/hub"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformHub">Hub</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/angel"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.directoryAngel">Angel</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/patient"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.directoryPatient">Patient</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/professional"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.directoryProfessional">Professional</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/team"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformTeam">Team</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/vendor"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.directoryVendor">Vendor</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/message"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.operationsMessage">Message</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/task"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.operationsTask">Task</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/roster-week"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.operationsRosterWeek">Roster Week</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/shift-assignment"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.operationsShiftAssignment">Shift Assignment</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/service-plan"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.catalogueServicePlan">Service Plan</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/plan-feature"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.cataloguePlanFeature">Plan Feature</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/category"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.catalogueCategory">Category</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/service-activity"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.catalogueServiceActivity">Service Activity</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/care-activity"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformCareActivity">Care Activity</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/document"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformDocument">Document</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/credential"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformCredential">Credential</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/user-option"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformUserOption">User Option</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/platform-service"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformPlatformService">Platform Service</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/audit-entry"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.entities.platformAuditEntry">Audit Entry</span>
                </a>
              </li>
              <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
          </li>
        }
        <li
          *abfHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          data-cy="adminMenu"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
            <span>
              <fa-icon icon="users-cog" />
              <span abfTranslate="global.menu.admin.main">Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true" />
                <span abfTranslate="global.menu.admin.metrics">Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true" />
                <span abfTranslate="global.menu.admin.health">Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true" />
                <span abfTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true" />
                <span abfTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            @if (openAPIEnabled()) {
              <li>
                <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="book" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.admin.apidocs">API</span>
                </a>
              </li>
            }
          </ul>
        </li>
        @if (languages && languages.length > 1) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
              <span>
                <fa-icon icon="flag" />
                <span abfTranslate="global.menu.language">Language</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
              @for (language of languages; track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [abfActiveMenu]="language"
                    href="javascript:void(0);"
                    (click)="changeLanguage(language); collapseNavbar()"
                    >{{ language | findLanguageFromKey }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          data-cy="accountMenu"
        >
          @let accountRef = account();
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
            @if (!accountRef?.imageUrl) {
              <span>
                <fa-icon icon="user" />
                <span abfTranslate="global.menu.account.main">Account</span>
              </span>
            } @else {
              <span>
                <img [src]="accountRef!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (accountRef !== null) {
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.account.logout">Sign out</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true" />
                  <span abfTranslate="global.menu.account.login">Sign in</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
