<div>
  <h2 id="page-heading" data-cy="CredentialHeading">
    <span abfTranslate="hcAdminApp.platformCredential.home.title">Credentials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span abfTranslate="hcAdminApp.platformCredential.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-credential"
        [routerLink]="['/credential/new']"
      >
        <fa-icon icon="plus" />
        <span abfTranslate="hcAdminApp.platformCredential.home.createLabel">Create a new Credential</span>
      </button>
    </div>
  </h2>

  <abf-alert-error />

  <abf-alert />

  @if (credentials().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span abfTranslate="hcAdminApp.platformCredential.home.notFound">No Credentials found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr abfSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" abfSortBy="id">
              <div class="d-flex">
                <span abfTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="email">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformCredential.email">Email</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="phoneNumber">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformCredential.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="passwordHash">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformCredential.passwordHash">Password Hash</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="role">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformCredential.role">Role</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="enabled">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformCredential.enabled">Enabled</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" abfSortBy="lastLoginAt">
              <div class="d-flex">
                <span abfTranslate="hcAdminApp.platformCredential.lastLoginAt">Last Login At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (credential of credentials(); track trackId(credential)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/credential', credential.id, 'view']">{{ credential.id }}</a>
              </td>
              <td>{{ credential.email }}</td>
              <td>{{ credential.phoneNumber }}</td>
              <td>{{ credential.passwordHash }}</td>
              <td [abfTranslate]="'hcAdminApp.CredentialRole.' + (credential.role ?? 'null')">
                {{
                  {
                    null: '',
                    ADMIN: 'ADMIN',
                    SUPERVISOR: 'SUPERVISOR',
                    DESK_OFFICER: 'DESK_OFFICER',
                    PROFESSIONAL: 'PROFESSIONAL',
                    PATIENT: 'PATIENT',
                    VENDOR: 'VENDOR',
                  }[credential.role ?? 'null']
                }}
              </td>
              <td>{{ credential.enabled }}</td>
              <td>{{ credential.lastLoginAt | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/credential', credential.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/credential', credential.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(credential)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" abfTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
